@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base font-primary font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-input {
  display: none;
}

.quill {
  @apply border border-strock rounded-xl;
  padding: 15px 25px;
  .ql-toolbar.ql-snow {
    border: none;
    @apply bg-text4 bg-opacity-10 rounded-xl py-3 px-5 inline-block;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm;
  }
  .ql-editor {
    @apply pt-10;
  }
  .ql-editor.ql-blank::before {
    @apply text-sm not-italic text-text4;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

//custom datepicker style
body .react-date-picker {
  @apply w-full px-6 py-4 text-sm font-medium border rounded-xl text-text1 dark:bg-transparent placeholder:text-text4 dark:placeholder:text-text2 dark:text-white border-strock dark:border-darkStroke;
  height: 54px;
  .react-date-picker__wrapper {
    @apply border-none flex justify-center items-center;
  }
}

body .react-date-picker__calendar {
  .react-calendar {
    @apply rounded-xl border-0 shadow-sdprimary;

    button.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend,
    button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend,
    button:enabled:hover {
      @apply rounded-xl;
    }
    button:enabled:hover {
      @apply bg-gray-100;
    }
    .react-calendar__tile--now {
      @apply bg-secondary text-white;
    }
    .react-calendar__tile--active {
      @apply bg-primary;
    }
  }
}
